@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: #fafafa;
  --bg-secondary: #f1f1f1;
  --bg-card: #ffffff;
  --border: #e4e4e7;
  --text-primary: #09090b;
  --text-secondary: #71717a;
  --text-muted: #a1a1aa;
}

:root.dark {
  --bg-primary: #09090b;
  --bg-secondary: #18181b;
  --bg-card: #27272a;
  --border: #27272a;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
  --text-muted: #52525b;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.2s,
    color 0.2s;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

#root {
  height: 100dvh;
}
